.timer{
    display: flex;
    justify-content: center;
    column-gap:40px;
}
.inputs{
    margin-top: 100px;
}
.value{
    font-weight: 600;
    font-size: 33px;
}
.field{
    display: flex;
    flex-direction: column;
}
.label{
    text-transform: uppercase;
    font-weight: 500;
}
